<!DOCTYPE html>
<html>

<head>
    <% include partials/template/head.ejs %>
</head>

<body>
    <div class="admin_container">
        <% include partials/template/admin_header.ejs %>
        <% include partials/content/admin_dashboard.ejs %>
        
    </div>
    <% include partials/template/js.ejs %>
</body>

</html>