<div class="admin_header">
    <section>
        <div class="nav_logo">
            <img src="https://wiki.duraspace.org/download/attachments/31655033/duracloud_logo_12in.png?version=1&modificationDate=1329183208810&api=v2" alt="">
        </div>
        <div class="admin_menu">
            <div>
                <a href=""> <i class="fa fa-home"></i> <span>Home</span> </a>
            </div>
            <div>
                <a href=""> <i class="fa fa-pencil-square-o"></i> <span>New Acticle</span> </a>
            </div>
            <div>
                <a href=""> <i class="fa fa-th-list"></i> <span>All Acticles</span> </a>
            </div>
            <div>
                <a href=""> <i class="fa fa-user"></i> <span>Users</span> </a>
            </div>
            <div>
                <a href=""> <i class="fa fa-file-o"></i> <span>File</span> </a>
            </div>
            <div>
                <a href=""> <i class="fa fa-cog"></i> <span>Setting</span> </a>
            </div>
            <div>
                <a href=""> <i class="fa fa-tags"></i> <span>Tags</span> </a>
            </div>
            <div>
                <a href=""> <i class="fa fa-bar-chart"></i> <span>Analitcs</span> </a>
            </div>
        </div>
    </section>
</div>