<div class="admin_dashboard">
   
    <div class="state_bar">
        <div class="support_link"><a href="">Support</a></div>
        <div class="self_link">
            Hello
        </div>
    </div>
    
    <div class="static">
        <div class="static_nav">
            <ul>
                <li>All Static</li>
                <li>Social</li>
                <li>SEO</li>
                <li>Comments</li>
            </ul>
        </div>
        <div class="chart">
            <img src="http://content.gcflearnfree.org/topics/234/chart_type_2.png" alt="">
        </div>
    </div>

    <div class="social">
       <h3>SOCIAL</h3>
        <ul>
            <li>F</li>
            <li>T</li>
            <li>Y</li>
            <li>D</li>
        </ul>
    </div>
    
    <div class="comments">
       <h3>RESNT COMMENTS</h3>
       <div class="comments_previews">
           <div class="user_icon"><img src="" alt=""></div>
           <div class="user_comments">
               Adam Wiki - <small>15 Oct 2015</small><br>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum itaque, nobis sed cumque molestias esse ullam a, voluptatum voluptatibus facilis pariatur quas omnis totam perspiciatis, dolores rerum explicabo beatae possimus!... <span class="read">READ</span>
           </div>
       </div>
       
    </div>
    
    <div class="pupular_acicles">
        <h3>PPULAR ACTICLES</h3>
        <div class="acticle_icon"><img src="" alt=""></div>
        <div class="acticle_previews">
            <div class="acticles_title"></div>
            <div class="acticle_static">
                
            </div>
        </div>
    </div>
</div>